:root{
--red: #ff0000;
--black: rgb(0, 0, 0);
--gray: #f0f0f0;
}

body{
    margin-left: 1em;
    font-family: 'Sen', sans-serif;
}


.link_loguit {
    margin-left: 5em;
}

a{
    color: var(--black);
    text-decoration: none;
}

a:hover{
    color: var(--red);
}

.logo{
height: 8em;
width: 12em;
margin-left:3em;
}

ul{
    float: left;
    display: flex;
    flex-direction: row;
    list-style: none;
}

li{
    text-decoration: none;
    margin-left: 0.5em;
}

li:hover{
    color: var(--red);
}

main{
    display: flex;
    flex-direction: column;
}

.deel_text{
    margin-left: 3em;
    margin-top: 2em;
}

section{
    margin-top: 1em;
    height: 20em;
    width: 26em;
    border-radius: 1.5em;
    margin-left: 2.7em;
}

.info{
    display: flex;
    flex-direction:column;
    margin-left: 1em;

}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
    margin-top: 0;
}

#section-1{
    background-color: rgb(173, 46, 173);
}

#section-2{
    background-color: rgb(207, 167, 5);
}

#section-3{
    background-color: rgb(26, 96, 143);
}

#section-4{
    background-color: rgb(103, 154, 255);
}

#section-5{
    background-color: rgb(167, 0, 0);
}

.link_buttons{
text-align: center;

}


.boek_sections{
    height: 10em;
    width: 6em;

}

p{
    margin-left: 1em;
    margin-top: 0;
    font-size: 14px;
    height: 10em;
    width: 12;
}

.info_boeken{
    display: flex;
}

.section_links{
   text-decoration: none;
   color: var(--black);
}

section:not(:target) {
    display: none;
}

section:target{
    display: block;
}


.agenda_mini{
    height: 9em;
    width: 26em;
    background-color: var(--gray);
    margin-top: 2em;
    margin-left: 2.5em;
    border-radius: 1.5em;
    display: flex;
    
}

.img_datum{
    height: 7em;
    width: 7em;
    margin-top: 1em;
    margin-left: 1em;
    border: var(--red) solid 3px;
    border-radius: 2em;
    
}

.info_agenda{
    margin-left: 0.5em;
}

.meld_aan{
    background-color: var(--red);
    border: none;
    color: white;
}

.meld_aan:hover{
    color: white;
    background-color: var(--black);
}


/* medium */
@media screen and (min-width: 600px) {

}
