:root{

}

body{
    margin-left: 1em;
    
}



header{
    
}

.logo{
height: 8em;
width: 15em;
}

ul{
    float: left;
    display: flex;
    flex-direction: row;
    list-style: none;
}

li{
    text-decoration: none;
    margin-left: 0.5em;
}

section{
    margin-top: 5em;
    height: 20em;
    width: 26em;
    border-radius: 1.5em;
}

.info{
    display: flex;
    flex-direction:column;
    margin-left: 1em;
}

h3{
    margin-top: 0;
}

#section-1{
    background-color: rgb(173, 46, 173);
}

#section-2{
    background-color: rgb(207, 167, 5);
}

#section-3{
    background-color: rgb(26, 96, 143);
}


.boek_sections{
    height: 10em;
    width: 6em;

}

p{
    margin-left: 1em;
    margin-top: 0;
}

.info_boeken{
    display: flex;
}

.section_links{
   text-decoration: none;
   color: black;
   float:inline-end;
   
}
section:not(:target) {
    display: none;
}

section:target{
    display: block;
}


/* medium */
@media screen and (min-width: 600px) {
}