:root{

}

body{
    margin-left: 1em;
    font-family: 'Sen', sans-serif;
}

.link_loguit {
    margin-left: 5em;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: red;
}

.logo{
height: 8em;
width: 12em;
margin-left:3em;
}

ul{
    float: left;
    display: flex;
    flex-direction: row;
    list-style: none;
}

li{
    text-decoration: none;
    margin-left: 0.5em;
}

li:hover{
    color: red;
}

form{
    margin-left: 3em;
    margin-top: 3em;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(197, 197, 197);
    float: left;
    width: 20em;
    background: #f1f1f1;
}

form.example button {
    width: 3em;
    height: 2.6em;
    background: #000000;
    color: white;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0);
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: red;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

main{
    display: flex;
    flex-direction: column;
}

.deel_text{
    margin-left: 3em;
    margin-top: 2em;
}

section{
    margin-top: 1em;
    height: 20em;
    width: 26em;
    border-radius: 1.5em;
    margin-left: 2.7em;
}

.info{
    display: flex;
    flex-direction:column;
    margin-left: 1em;

}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
    margin-top: 0;
}

#section-1{
    background-color: rgb(173, 46, 173);
}

#section-2{
    background-color: rgb(207, 167, 5);
}

#section-3{
    background-color: rgb(26, 96, 143);
}

#section-4{
    background-color: rgb(103, 154, 255);
}

#section-5{
    background-color: rgb(167, 0, 0);
}

.link_buttons{
text-align: center;

}


.boek_sections{
    height: 10em;
    width: 6em;

}

p{
    margin-left: 1em;
    margin-top: 0;
    font-size: 14px;
    height: 10em;
    width: 12;
}

.info_boeken{
    display: flex;
}

.section_links{
   text-decoration: none;
   color: black;
}

section:not(:target) {
    display: none;
}

section:target{
    display: block;
}


.agenda_mini{
    height: 9em;
    width: 26em;
    background-color: lightgray;
    margin-top: 2em;
    margin-left: 2.5em;
    border-radius: 1.5em;
    display: flex;
    
}

.img_datum{
    height: 7em;
    width: 7em;
    margin-top: 1em;
    margin-left: 1em;
    border: red solid 3px;
    border-radius: 2em;
    
}

.info_agenda{
    margin-left: 0.5em;
}

.meld_aan{
    background-color: red;
    border: none;
    color: white;
}

.meld_aan:hover{
    color: white;
    background-color: #000000
}


/* medium */
@media screen and (min-width: 600px) {

}
